@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


:root {
  font-family: 'Yantramanav', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}